fund=false
audit=false
progress=false
save-exact=true
prefer-offline=true
legacy-peer-deps=false
build-from-source=false
registry=https://registry.npmjs.org/
strict-peer-dependencies=false
auto-install-peers=true
shamefully-hoist=true
